<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>{{HOME}}/dotfiles/setup/mac/launchd/backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{HOME}}/Library/LaunchAgents/log/backup.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/Library/LaunchAgents/log/backup_err.log</string>
</dict>
</plist>
